#canvas{
    border: 3px solid rgb(146, 255, 164);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 900px;
    width: 550px;
    background: #000;
}
